/*
 * _colors.scss
 *
 * Author: Interactive Design & Development
 * Author URI: https://github.com/InteractiveDesignAndDevelopment
 * Description: Define colors for the portal rework
 */

// Normal colors

$orange: #c95106;
$tan: #ff9858;
$warm-black: #3f3c3b;
$grey: #d3cbc6;
$light-grey: #f4f2f1;

// Orange gradient
$darkest-orange: #7f3304;
$darker-orange: #983d05;
$dark-orange: #b04706;
// Orange (#c95106) goes here, and it's already defined
$light-orange: #e25b08;
$lighter-orange: #f7660c;
$lightest-orange: #f77525;