/*! maintenance.scss */

@import '../node_modules/sass-bem/bem';
@import '../node_modules/breakpoint-sass/stylesheets/breakpoint';
@import 'colors';

// We can use all of the Breakpoint control variables with respond-to as well!
$breakpoint-no-query-fallbacks: true;
$breakpoint-to-ems: true;

$breakpoints: add-breakpoint('large screen', 768px);

@font-face {
  font-family: 'Orkney';
  src: inline('orkney-light-webfont.woff2') format('woff2'),
       inline('orkney-light-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Orkney';
  src: inline('orkney-regular-webfont.woff2') format('woff2'),
       inline('orkney-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Orkney';
  src: inline('orkney-medium-webfont.woff2') format('woff2'),
       inline('orkney-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Orkney';
  src: inline('orkney-bold-webfont.woff2') format('woff2'),
       inline('orkney-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

// I know normalize.css tries to be more careful,
// But this is the only way that makes sense.
html {
  box-sizing: border-box;

  * {
    box-sizing: inherit;
  }
}

body {
  align-items: center;
  background-color: $light-grey;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100vw;

  @include respond-to('large screen') {
    background-color: $grey;
  }
}

@include b('message') {
  color: $warm-black;
  font-family: Orkney;
  height: 90vmin;
  text-align: center;
  width: 90vmin;

  > * + * {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  @include respond-to('large screen') {
    background-color: $light-grey;
    border-top: 1rem solid $orange;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem rgba($warm-black, 0.5);
    padding: 3rem;
  }

  @include e('divider') {
    background-color: $grey;
    border: 0;
    height: 0.2rem;
    width: 100%;
  }
}

@include b('mymercer-logo') {
  height: auto;
  width: 80%;
  @include e('my') {
    fill: $orange;
  }
  @include e('mercer') {
    fill: $warm-black;
  }
}